<nav-bar sidenav="false" topnav="true"></nav-bar>

<div class="parallax-container" style="height: 600px; padding-bottom:0; margin-top: -40px; ">
  <div class="section" style="margin-top:30px;">
    <div class="container">
      <h1 class="header text-primary">Organize your life!</h1>
      <div class="row">
        <div class="col s10 m8 l6 ">
          <h5 class="text-primary">
            With CDTM Tasks you can finally get more structure into your <strong>mostly awesome</strong> life. Organize your work, increase your productivity and get your work-life balance in order!
          </h5>
        </div>
        <div class="col s12" style="margin-top:50px;">
          <a ng-hide="AuthService.isLoggedIn()" href="/register" class="btn primary waves-effect clickable">
            Register
          </a>
          <a ng-hide="AuthService.isLoggedIn()" href="/login" class="btn white waves-effect clickable text-primary">
            Login
          </a>
          <a hide ng-show="AuthService.isLoggedIn()" href="/" class="btn primary waves-effect clickable">
            My Tasks
          </a>
        </div>
      </div>
  </div>
</div>

<div class="parallax" style="margin-top: -20px;"><img src="assets/meeting.jpg" alt="" style="margin-top: -20px;"></div>
</div>

<div class="container" style="padding: 40px 0;">
  <div class="section" style="padding-bottom: 100px;">
    <h3 class="center text-primary">Each day has 24h. Make the most of it!</h3>
    <div class="center light" style="font-size: 1.5em;">
      Your time is your single most valuable resource. Our world becomes fuller every day and life opens up attractive opportunities each day. Don't waste your time organizing your life, but go out there and seize those opportunities.
    </div>
  </div>

  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="center-align">
          <img src ="assets/icons/cloud.svg" style="width:100px;height:100px;">
          <h5 class="text-primary center">Access from anywhere you want</h5>

          <p class="light" style="font-size:1.15em;">
            Go wherever you want. With <em>CDTM Tasks</em> you have your life's work always with you. All your tasks are stored safely on our <strong>server</strong> so you can access them whenever you need them.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center-align">
          <img src ="assets/icons/groups.svg" style="width:100px;height:100px;">
          <h5 class="text-primary center">Work together on shared projects</h5>

          <p class="light" style="font-size:1.15em;">
            Great projects have usually one thing in common: <strong>teamwork</strong>. Share tasks with anyone - your team, your family, your friends - and collaborate to realize your mostly awesome projects.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center-align">
          <img src ="assets/icons/design.svg" style="width:100px;height:100px;">
          <h5 class="text-primary center">Enjoy a mostly awesome design</h5>

          <p class="light" style="font-size:1.15em;">
            Design should disappear in the background when it is really your tasks that matter. The clean and <strong>distraction free</strong> design helps you to stay concentrated on the things that matter.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper" style="height:700px; padding-bottom:0;">
  <div class="section">
    <div class="container">
      <div class="row center">
        <h3 class="header text-primary">Shoot for the stars</h3>
        <h5 class="header col s12 light">CDTM Tasks is the only task management solution, which truly puts Centerlings first. Balance your life through controlling your tasks and you will see that there is no upper bound in what you can accomplish!</h5>
        <h4 class="header col s12 light">🏁 🚀 💯</h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/desk.jpg" alt=""></div>
</div>

<footer class="page-footer blue-grey darken-4" style="margin: 0; padding:0;">
  <div class="primary">
    <div class="container" style="padding: 50px 0;">
        <div class="col s12 center-align">
          <div style="color: white; padding: 20px 0;">Made with&nbsp; ❤️ &nbsp; in Munich by</div>
          <div class="col s12">
            <a href="http://www.cdtm.de"><img src="assets/CDTM_white.png" style="height:30px;"></a>
          </div>
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col s2"></div>
          <div class="light center white-text col s8">
            This website was developed for the purpose of teaching the 'Basics of Backend Development' to students from various backgrounds. It is not intended to run in production. Please use the latest version of <a href="https://www.google.de/chrome/browser/desktop/">Chrome</a> for optimal results.
          </div>
          <div class="col s2"></div>
        </div>

      </div>
    </div>

    <div class="footer-copyright">
      <div class="primary" style="width:100%; min-height:100%;"></div>
    </div>
  </div>

</footer>
